In [7]:
%pip install sqlalchemy
%pip install psycopg2
%pip install pandas

Requirement already satisfied: sqlalchemy in c:\users\user\miniconda3\envs\telecom_env\lib\site-packages (2.0.23)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\user\miniconda3\envs\telecom_env\lib\site-packages (from sqlalchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\user\miniconda3\envs\telecom_env\lib\site-packages (from sqlalchemy) (3.0.2)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: psycopg2 in c:\users\user\miniconda3\envs\telecom_env\lib\site-packages (2.9.9)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pandas in c:\users\user\miniconda3\envs\telecom_env\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\user\miniconda3\envs\telecom_env\lib\site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\miniconda3\envs\telecom_env\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\miniconda3\envs\telecom_env\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\user\miniconda3\envs\telecom_env\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\user\miniconda3\envs\telecom_env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
from sqlalchemy import create_engine
from urllib.parse import quote

# Replace 'username', 'your@password', 'localhost', '5432', and 'database_name' with your actual values
username = 'postgres'
password = 'nati@postgres'
hostname = 'localhost'
port = '5432'
database_name = 'TellCo'

# Escape the special characters in the password
escaped_password = quote(password, safe='')

# Create the database engine
engine = create_engine(f'postgresql://{username}:{escaped_password}@{hostname}:{port}/{database_name}')

# Establish a connection
with engine.connect() as connection:
    # Query the data and load it into a pandas DataFrame
    query = """
        SELECT *
        FROM xdr_data
    """
    df = pd.read_sql(query, connection)

In [20]:
# Perform EDA on the DataFrame
# Example: Display the first few rows
df.head()

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9.16456699548519E+015,...,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311448e+19,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311448e+19,4/9/2019 17:42,1.0,4/25/2019 11:58,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,...,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311448e+19,4/10/2019 0:31,486.0,4/25/2019 7:36,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,...,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,1.311448e+19,4/12/2019 20:10,565.0,4/25/2019 10:40,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,...,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

In [21]:
# Group the data by handset and count the occurrences
handset_counts = df['Handset Type'].value_counts()

# Select the top 10 handsets
top_10_handsets = handset_counts.head(10)

# Display the top 10 handsets
print(top_10_handsets)

Handset Type
Huawei B528S-23A                19752
Apple iPhone 6S (A1688)          9419
Apple iPhone 6 (A1586)           9023
undefined                        8987
Apple iPhone 7 (A1778)           6326
Apple iPhone Se (A1723)          5187
Apple iPhone 8 (A1905)           4993
Apple iPhone Xr (A2105)          4568
Samsung Galaxy S8 (Sm-G950F)     4520
Apple iPhone X (A1901)           3813
Name: count, dtype: int64

In [3]:
# Group the data by manufacturer and count the occurrences
manufacturer_counts = df['Handset Manufacturer'].value_counts()

# Select the top 3 manufacturers
top_3_manufacturers = manufacturer_counts.head(3)

# Display the top 3 manufacturers
print(top_3_manufacturers)

Handset Manufacturer
Apple      59565
Samsung    40839
Huawei     34423
Name: count, dtype: int64

In [10]:
top_3_manufacturers = manufacturer_counts.head(3).index

#  Iterate over top 3 manufacturers and identify the top 5 handsets for each
for manufacturer in top_3_manufacturers:
    # Filter the DataFrame for the current manufacturer
    filtered_df = df[df['Handset Manufacturer'] == manufacturer]
    
    # Calculate the value counts of handsets for the current manufacturer
    handset_counts = filtered_df['Handset Type'].value_counts()

    # Select the top 5 handsets for the current manufacturer
    top_5_handsets = handset_counts.head(5)

    # Print or store the results
    print(f"Top 5 handsets for {manufacturer}:")
    print(top_5_handsets)

Top 5 handsets for Apple:
Handset Type
Apple iPhone 6S (A1688)    9419
Apple iPhone 6 (A1586)     9023
Apple iPhone 7 (A1778)     6326
Apple iPhone Se (A1723)    5187
Apple iPhone 8 (A1905)     4993
Name: count, dtype: int64
Top 5 handsets for Samsung:
Handset Type
Samsung Galaxy S8 (Sm-G950F)    4520
Samsung Galaxy A5 Sm-A520F      3724
Samsung Galaxy J5 (Sm-J530)     3696
Samsung Galaxy J3 (Sm-J330)     3484
Samsung Galaxy S7 (Sm-G930X)    3199
Name: count, dtype: int64
Top 5 handsets for Huawei:
Handset Type
Huawei B528S-23A                  19752
Huawei E5180                       2079
Huawei P20 Lite Huawei Nova 3E     2021
Huawei P20                         1480
Huawei Y6 2018                      997
Name: count, dtype: int64

In [23]:
# Group the data by 'IMSI' and calculate the required metrics
aggregated_data = df.groupby('IMSI').agg({
    'Dur. (ms)': 'count',
    'Dur. (ms).1': 'sum',
    'Total DL (Bytes)': 'sum',
    'Total UL (Bytes)': 'sum',
    'Social Media DL (Bytes)': 'sum',
    'Social Media UL (Bytes)': 'sum',
    'Youtube DL (Bytes)': 'sum',
    'Youtube UL (Bytes)': 'sum',
    'Google DL (Bytes)': 'sum',
    'Google UL (Bytes)': 'sum',
    'Netflix DL (Bytes)': 'sum',
    'Netflix UL (Bytes)': 'sum',
    'Email DL (Bytes)': 'sum',
    'Email UL (Bytes)': 'sum',
    'Gaming DL (Bytes)': 'sum',
    'Gaming UL (Bytes)': 'sum',
    'Other DL (Bytes)': 'sum',
    'Other UL (Bytes)': 'sum'
})

# Calculate the total data volume for YouTube and Google
aggregated_data['Social Media (Bytes)'] = aggregated_data['Social Media UL (Bytes)'] + aggregated_data['Social Media DL (Bytes)']
aggregated_data['Youtube (Bytes)'] = aggregated_data['Youtube UL (Bytes)'] + aggregated_data['Youtube DL (Bytes)']
aggregated_data['Google (Bytes)'] = aggregated_data['Google UL (Bytes)'] + aggregated_data['Google DL (Bytes)']
aggregated_data['Email (Bytes)'] = aggregated_data['Email UL (Bytes)'] + aggregated_data['Email DL (Bytes)']
aggregated_data['Netflix (Bytes)'] = aggregated_data['Netflix UL (Bytes)'] + aggregated_data['Netflix DL (Bytes)']
aggregated_data['Gaming (Bytes)'] = aggregated_data['Gaming UL (Bytes)'] + aggregated_data['Gaming DL (Bytes)']
aggregated_data['Other (Bytes)'] = aggregated_data['Other UL (Bytes)'] + aggregated_data['Other DL (Bytes)']


# Drop the individual columns for YouTube and Google
aggregated_data.drop(columns=['Other UL (Bytes)', 'Other DL (Bytes)', 'Gaming UL (Bytes)', 'Gaming DL (Bytes)', 'Netflix UL (Bytes)', 'Netflix DL (Bytes)', 'Email UL (Bytes)', 'Email DL (Bytes)', 'Social Media UL (Bytes)', 'Social Media DL (Bytes)', 'Youtube UL (Bytes)', 'Youtube DL (Bytes)', 'Google UL (Bytes)', 'Google DL (Bytes)'], inplace=True)

# Rename the columns
aggregated_data = aggregated_data.rename(columns={
    'Dur. (ms)': 'Number of xDR sessions',
    'Dur. (ms).1': 'Total Session duration (ms)'
})
# Display the aggregated data
aggregated_data

,Number of xDR sessions,Total Session duration (ms),Total DL (Bytes),Total UL (Bytes),Social Media (Bytes),Youtube (Bytes),Google (Bytes),Email (Bytes),Netflix (Bytes),Gaming (Bytes),Other (Bytes)
IMSI,,,,,,,,,,,
2.040471e+14,1,869844200.0,78697597.0,60456049.0,1546088.0,40940710.0,9218647.0,3330974.0,28846230.0,43070260.0,4.013605e+08
2.040808e+14,1,877385325.0,194828056.0,37295915.0,715224.0,11959905.0,10438660.0,1520771.0,26592300.0,178048738.0,4.705265e+08
2.082001e+14,1,86019568.0,31376981.0,53794658.0,3122781.0,19882439.0,1624662.0,3657501.0,31830562.0,9124516.0,5.159737e+08
2.082001e+14,1,86254551.0,392918313.0,33583272.0,2577104.0,25657632.0,13811478.0,3855734.0,27785852.0,344105897.0,3.096107e+08
2.082001e+14,2,573924380.0,961767023.0,71325004.0,3426716.0,13840201.0,11665887.0,5564462.0,57343415.0,917684766.0,1.079435e+09
...,...,...,...,...,...,...,...,...,...,...,...
2.082099e+14,1,127367229.0,688815403.0,33888182.0,1256603.0,11621474.0,12047606.0,956312.0,10767515.0,678493990.0,5.883943e+08
2.082099e+14,1,168543142.0,451173021.0,44692550.0,3465755.0,34857460.0,4287813.0,2284566.0,30735254.0,411382679.0,7.526239e+08
2.082099e+14,1,86399932.0,307825104.0,30355487.0,2609666.0,29190696.0,4427934.0,1717645.0,19605741.0,272046636.0,4.567354e+08
2.082522e+14,1,56613199.0,800629358.0,45083854.0,667081.0,24909498.0,2227505.0,3054624.0,10914208.0,788569459.0,5.944805e+08
2.140743e+14,1,226790451.0,637123579.0,57382080.0,2316254.0,40017722.0,3059291.0,1466516.0,19949230.0,622972742.0,5.385547e+08